name: books-library


services:
  db:
    image: postgres:15-alpine
    container_name: postgres_ctr
    restart: unless-stopped
    
    environment:
      POSTGRES_PASSWORD: ${PgSql_Password}
      POSTGRES_USER: ${PgSql_User}
      POSTGRES_DB: ${PgSql_Database}
    ports: 
      - 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s  

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_ctr
    restart: unless-stopped
    env_file: 
      - ./backend/.env
    ports: 
      - 5113:5013
    networks:
      - app_network
    command: sh -c "npx prisma migrate deploy && npm start"
    depends_on:
      db: 
        condition: service_healthy
 

  firebase:
    build: 
      context: ./firebase
      dockerfile: Dockerfile
    container_name: firebase_ctr
    restart: unless-stopped
    environment:
      - FIREBASE_EMULATORS_UI_HOST=0.0.0.0  
    
    env_file: 
      - ./firebase/.env
    ports: 
      - 4004:4000 #UI
      - 9098:9099 #Auth
      - 9198:9199 #Storage
    volumes:
      - firebase_data:/app/firebase-data
    networks:
      - app_network

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_ctr
    restart: unless-stopped
    ports: 
      - 5114:5014
    networks:
      - app_network
    depends_on:
      - backend
      - db
      - firebase

  
  nginx:
    image: nginx:latest
    container_name: nginx_ctr
    restart: unless-stopped
    ports: 
      - "90:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app_network
    command:  sh -c "nginx -g 'daemon off;'"  
    depends_on:
      - backend
      - frontend

networks:
  app_network:
    driver: bridge


volumes: 
  postgres_data:
  firebase_data:
