#PgSQL Credentials

DB_PORT=5014
DB_USER=some_user
DB_HOST=some_host
DB_NAME=some_db_name
DB_PASSWORD=some_db_password


#JWT Credentials

JWT_ACC_EXPIRES_IN=expiration_time_maybe_1hr
JWT_ACC_SECRECT=some_secret
JWT_REF_EXPIRES_IN=expiration_time_maybe_some_miliseconds
JWT_REF_SECRECT=some_secret


#OAuth Credentials

Google_CLIENT_SECRET=some_google_clinet_secret
Google_CALLBACK_URI=http://localhost:4001/auth/google/callback
Google_CLIENT_ID=some_google_clinet_id

Discord_CLIENT_SECRET=some_discord_clinet_secret
Discord_CALLBACK_URI=http://localhost:4001/auth/discord/callback
Discord_CLIENT_ID=some_discord_clinet_id


#Email Credentials

EMAIL_FROM=process.env.EMAIL_FROM || 'no-reply@yourapp.com',
OTP_EXPIRES_MINUTES=opt_expiration_time

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_email_id
SMTP_PASS=your_smtp_pass